.vis-item-content {
    /* transform: rotate(45deg); */
    transform-origin: 0 0;
    white-space: nowrap;
    color: var(--foreground);
    font-size: var(--font-xs);
}

.current {
    background-color: var(--destructive);
}

.vis-item {
    border-color: transparent;
    background-color: transparent;
}

.vis-item.vis-selected {
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.vis-text {
    font-size: var(--font-xs);
}