.sld-disconnected { --sld-vl-color: var(--sld-disconnected) !important; }

.sld-vl300to500-0 { --sld-vl-color: var(--sld-vl300to500-0) !important; }
.sld-vl300to500-1 { --sld-vl-color: var(--sld-vl300to500-1) !important; }
.sld-vl300to500-2 { --sld-vl-color: var(--sld-vl300to500-2) !important; }
.sld-vl300to500-3 { --sld-vl-color: var(--sld-vl300to500-3) !important; }
.sld-vl300to500-4 { --sld-vl-color: var(--sld-vl300to500-4) !important; }
.sld-vl300to500-5 { --sld-vl-color: var(--sld-vl300to500-5) !important; }
.sld-vl300to500-6 { --sld-vl-color: var(--sld-vl300to500-6) !important; }
.sld-vl300to500-7 { --sld-vl-color: var(--sld-vl300to500-7) !important; }
.sld-vl300to500-8 { --sld-vl-color: var(--sld-vl300to500-8) !important; }
.sld-vl300to500-9 { --sld-vl-color: var(--sld-vl300to500-9) !important; }

.sld-vl180to300-0 { --sld-vl-color: var(--sld-vl180to300-0) !important; }
.sld-vl180to300-1 { --sld-vl-color: var(--sld-vl180to300-1) !important; }
.sld-vl180to300-2 { --sld-vl-color: var(--sld-vl180to300-2) !important; }
.sld-vl180to300-3 { --sld-vl-color: var(--sld-vl180to300-3) !important; }
.sld-vl180to300-4 { --sld-vl-color: var(--sld-vl180to300-4) !important; }
.sld-vl180to300-5 { --sld-vl-color: var(--sld-vl180to300-5) !important; }
.sld-vl180to300-6 { --sld-vl-color: var(--sld-vl180to300-6) !important; }
.sld-vl180to300-7 { --sld-vl-color: var(--sld-vl180to300-7) !important; }
.sld-vl180to300-8 { --sld-vl-color: var(--sld-vl180to300-8) !important; }
.sld-vl180to300-9 { --sld-vl-color: var(--sld-vl180to300-9) !important; }

.sld-vl120to180-0 { --sld-vl-color: var(--sld-vl120to180-0) !important; }
.sld-vl120to180-1 { --sld-vl-color: var(--sld-vl120to180-1) !important; }
.sld-vl120to180-2 { --sld-vl-color: var(--sld-vl120to180-2) !important; }
.sld-vl120to180-3 { --sld-vl-color: var(--sld-vl120to180-3) !important; }
.sld-vl120to180-4 { --sld-vl-color: var(--sld-vl120to180-4) !important; }
.sld-vl120to180-5 { --sld-vl-color: var(--sld-vl120to180-5) !important; }
.sld-vl120to180-6 { --sld-vl-color: var(--sld-vl120to180-6) !important; }
.sld-vl120to180-7 { --sld-vl-color: var(--sld-vl120to180-7) !important; }
.sld-vl120to180-8 { --sld-vl-color: var(--sld-vl120to180-8) !important; }
.sld-vl120to180-9 { --sld-vl-color: var(--sld-vl120to180-9) !important; }

.sld-vl70to120-0 { --sld-vl-color: var(--sld-vl70to120-0) !important; }
.sld-vl70to120-1 { --sld-vl-color: var(--sld-vl70to120-1) !important; }
.sld-vl70to120-2 { --sld-vl-color: var(--sld-vl70to120-2) !important; }
.sld-vl70to120-3 { --sld-vl-color: var(--sld-vl70to120-3) !important; }
.sld-vl70to120-4 { --sld-vl-color: var(--sld-vl70to120-4) !important; }
.sld-vl70to120-5 { --sld-vl-color: var(--sld-vl70to120-5) !important; }
.sld-vl70to120-6 { --sld-vl-color: var(--sld-vl70to120-6) !important; }
.sld-vl70to120-7 { --sld-vl-color: var(--sld-vl70to120-7) !important; }
.sld-vl70to120-8 { --sld-vl-color: var(--sld-vl70to120-8) !important; }
.sld-vl70to120-9 { --sld-vl-color: var(--sld-vl70to120-9) !important; }

.sld-vl50to70-0 { --sld-vl-color: var(--sld-vl50to70-0) !important; }
.sld-vl50to70-1 { --sld-vl-color: var(--sld-vl50to70-1) !important; }
.sld-vl50to70-2 { --sld-vl-color: var(--sld-vl50to70-2) !important; }
.sld-vl50to70-3 { --sld-vl-color: var(--sld-vl50to70-3) !important; }
.sld-vl50to70-4 { --sld-vl-color: var(--sld-vl50to70-4) !important; }
.sld-vl50to70-5 { --sld-vl-color: var(--sld-vl50to70-5) !important; }
.sld-vl50to70-6 { --sld-vl-color: var(--sld-vl50to70-6) !important; }
.sld-vl50to70-7 { --sld-vl-color: var(--sld-vl50to70-7) !important; }
.sld-vl50to70-8 { --sld-vl-color: var(--sld-vl50to70-8) !important; }
.sld-vl50to70-9 { --sld-vl-color: var(--sld-vl50to70-9) !important; }

.sld-vl30to50-0 { --sld-vl-color: var(--sld-vl30to50-0) !important; }
.sld-vl30to50-1 { --sld-vl-color: var(--sld-vl30to50-1) !important; }
.sld-vl30to50-2 { --sld-vl-color: var(--sld-vl30to50-2) !important; }
.sld-vl30to50-3 { --sld-vl-color: var(--sld-vl30to50-3) !important; }
.sld-vl30to50-4 { --sld-vl-color: var(--sld-vl30to50-4) !important; }
.sld-vl30to50-5 { --sld-vl-color: var(--sld-vl30to50-5) !important; }
.sld-vl30to50-6 { --sld-vl-color: var(--sld-vl30to50-6) !important; }
.sld-vl30to50-7 { --sld-vl-color: var(--sld-vl30to50-7) !important; }
.sld-vl30to50-8 { --sld-vl-color: var(--sld-vl30to50-8) !important; }
.sld-vl30to50-9 { --sld-vl-color: var(--sld-vl30to50-9) !important; }

.sld-vl0to30-0 { --sld-vl-color: var(--sld-vl0to30-0) !important; }
.sld-vl0to30-1 { --sld-vl-color: var(--sld-vl0to30-1) !important; }
.sld-vl0to30-2 { --sld-vl-color: var(--sld-vl0to30-2) !important; }
.sld-vl0to30-3 { --sld-vl-color: var(--sld-vl0to30-3) !important; }
.sld-vl0to30-4 { --sld-vl-color: var(--sld-vl0to30-4) !important; }
.sld-vl0to30-5 { --sld-vl-color: var(--sld-vl0to30-5) !important; }
.sld-vl0to30-6 { --sld-vl-color: var(--sld-vl0to30-6) !important; }
.sld-vl0to30-7 { --sld-vl-color: var(--sld-vl0to30-7) !important; }
.sld-vl0to30-8 { --sld-vl-color: var(--sld-vl0to30-8) !important; }
.sld-vl0to30-9 { --sld-vl-color: var(--sld-vl0to30-9) !important; }

/* Styles de composants spécifiques du SVG */
/* Tautologies */
.sld-out .sld-arrow-in {visibility: hidden !important;}
.sld-in .sld-arrow-out {visibility: hidden !important;}
.sld-closed .sld-sw-open {visibility: hidden !important;}
.sld-open .sld-sw-closed {visibility: hidden !important;}
.sld-hidden-node {visibility: hidden !important;}
.sld-top-feeder .sld-label {dominant-baseline: auto !important;}
.sld-bottom-feeder .sld-label {dominant-baseline: hanging !important;}
.sld-active-power .sld-label {dominant-baseline: mathematical !important;}
.sld-reactive-power .sld-label {dominant-baseline: mathematical !important;}
.sld-current .sld-label {dominant-baseline: mathematical !important;}

/* Highlight Line States */
.sld-wire.sld-feeder-disconnected {stroke: var(--color-foreground) !important;}
.sld-wire.sld-feeder-connected-disconnected {stroke-dasharray: 3,3 !important;}
.sld-wire.sld-feeder-disconnected-connected {stroke: var(--color-foreground) !important; stroke-dasharray: 3,3 !important;}
.sld-busbar-section.sld-bus-disconnected {stroke-dasharray: 3,3 !important;}

/* Components */
.sld-disconnector {stroke-width: 3 !important; stroke: var(--color-foreground) !important; fill: none !important;}
.sld-breaker {stroke-width: 2 !important; stroke: blue !important; fill: white !important;}
.sld-load-break-switch {stroke: blue !important; fill: white !important;}
.sld-bus-connection {fill: var(--sld-vl-color, var(--color-foreground)) !important;}
.sld-cell-shape-flat .sld-bus-connection {visibility: hidden !important;}
.sld-busbar-section {stroke: var(--sld-vl-color, var(--color-foreground)) !important; stroke-width: 3 !important; fill: none !important;}
.sld-wire {stroke: var(--sld-vl-color, #c80000) !important; fill: none !important;}
.sld-wire.sld-dangling-line {stroke-width: 2px !important;}
.sld-wire.sld-tie-line {stroke-width: 2px !important;}
.sld-load {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-battery {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-generator {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-two-wt {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-three-wt {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-winding {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-capacitor {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-inductor {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-pst {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-pst-arrow {stroke: var(--color-foreground) !important; fill: none !important;}
.sld-svc {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-vsc {stroke: var(--sld-vl-color, blue) !important; font-size: 7.43px !important; fill: none !important;}
.sld-lcc {stroke: var(--sld-vl-color, blue) !important; font-size: 7.43px !important; fill: none !important;}
.sld-ground {stroke: var(--sld-vl-color, blue) !important; fill: none !important;}
.sld-node-infos {stroke: none !important; fill: var(--color-foreground) !important;}
.sld-node {stroke: none !important; fill: var(--color-foreground) !important;}
.sld-flash {stroke: none !important; fill: var(--color-foreground) !important;}
.sld-lock {stroke: none !important; fill: var(--color-foreground) !important;}
.sld-unknown {stroke: none !important; fill: var(--color-foreground) !important;}
.sld-label {stroke: none !important; fill: var(--color-foreground) !important; font: 8px serif !important;}
.sld-bus-legend-info {fill: var(--color-foreground) !important;}
.sld-graph-label {fill: var(--color-foreground) !important;}
.sld-grid {stroke: #003700 !important; stroke-dasharray: 1,10 !important;}
.sld-feeder-info.sld-active-power {fill: var(--color-foreground) !important;}
.sld-feeder-info.sld-reactive-power {fill: blue !important;}
.sld-feeder-info.sld-current {fill: purple !important;}
.sld-frame {fill: var(--sld-background-color, transparent) !important;}
.sld-breaker.sld-fictitious {stroke: maroon !important;}
.sld-disconnector.sld-fictitious {stroke: maroon !important;}
.sld-load-break-switch.sld-fictitious {stroke: maroon !important;}
.sld-busbar-section.sld-fictitious {stroke: var(--sld-vl-color, #c80000) !important; stroke-width: 1 !important;}
.sld-ground-disconnection-attach {stroke: var(--sld-vl-color, #c80000) !important; fill: none !important;}
.sld-open .sld-ground-disconnection-ground {stroke: var(--color-foreground) !important; fill: none !important;}
.sld-closed .sld-ground-disconnection-ground {stroke: var(--sld-vl-color, #c80000) !important; fill: none !important;}
.sld-ground-disconnection .sld-sw-open {stroke: var(--color-foreground) !important; fill: none !important;}
.sld-ground-disconnection .sld-sw-closed {stroke: var(--color-foreground) !important; fill: none !important;}